<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <header th:replace="~{fragments :: header}"></header>

    <nav th:replace="~{fragments :: navbar}"></nav>

    <main class="main-container" layout:fragment="content"></main>

    <footer th:replace="~{fragments :: footer}"></footer>

    <div th:replace="~{fragments :: themeModal}"></div>

    <script th:src="@{/js/htmx.min.js}"></script>
  </body>
</html>
